<header>
<div class="test"></div>
	<div class="container">
		<picture>
			<source srcset="img/logo.webp" type="image/webp">
			<img src="img/logo.png" alt="Logo" width="57px">
		</picture>
	</div>
</header>
