<header class="header">
	<div class="container">
		<div class="header-top flex">
			<ul class="header-top__list--left flex">
				<li class="header-top__list-item">
					<img class="header-top__item-list-img" src="./svg/places.svg" alt="#">
					<a class="header-top-item-link flex" href="">Москва</a>
				</li>
				<li class="header-top__list-item">
					<img class="header-top__item-list-img" src="./svg/shoping.svg" alt="#">
					<a class="header-top-item-link flex" href="">оставка и оплата</a>
				</li>
				<li class="header-top__list-item">
					<img class="header-top__item-list-img" src="./svg/adress.svg" alt="#">
					<a class="header-top-item-link flex" href="">Адрес и часы работы</a>
				</li>
			</ul>
			<ul class="header-top__list-right">
				<li class="header-top__lest-item">
					<img class="header-top__item-list-img" src="./svg/mail.svg" alt="">
					<a class="header-top-item-link flex" href="#{}">market@estatut.ru</a>
				</li>
				<li class="header-top__lest-item">
					<img class="header-top__item-list-img" src="./svg/phone.svg" alt="">
					<a class="header-top-item-link flex" href="tel:8(968)660-65-50">8 (968) 660-65-50</a>
					<img class="header-top__item-list-img" src="./svg/alert.svg" alt="">
				</li>
			</ul>
		</div>
	</div>
</header>